<a href="https://colab.research.google.com/github/mariapadilla77/Travel-Tide/blob/main/Travel_Tide_MS_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ”Œ Connection

In [4]:
import pandas as pd
import sqlalchemy as sa

In [5]:
traveltide_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require'

In [6]:
engine = sa.create_engine(traveltide_url)
connection = engine.connect()

# DB exploration ðŸ”

*ðŸ“Œ To explore and analyze the dataset, Structured Query Language (SQL) was employed as the primary tool for data extraction, transformation, and aggregation. The process began by querying raw tables to understand data structures, identify key relationships, and filter relevant record*

##Sessions Table

*ðŸ“Œ Information about individual browsing sessions (note: only sessions with at least 2 clicks are included)*

In [ ]:
query = """

WITH user_level AS (
  SELECT user_id as u_id
	FROM sessions s
	GROUP BY user_id
	HAVING COUNT(session_id) > 7 )

	,filtered_by_date AS (
  SELECT *
  FROM sessions s
	JOIN user_level ul
	ON s.user_id=ul.u_id
  WHERE session_start >= '2023-01-04'
)

	SELECT *,

  CASE WHEN check_out_time::date - check_in_time::date <1
  THEN 1
  ELSE check_out_time::date - check_in_time::date END as nights_new,

  CASE when rooms=0 THEN 1 ELSE rooms END as new_rooms
	FROM filtered_by_date f
	LEFT JOIN users u
	ON f.user_id = u.user_id
	LEFT JOIN hotels h
	ON f.trip_id = h.trip_id
	LEFT JOIN flights fl
	ON f.trip_id = fl.trip_id

"""
pd.read_sql(sa.text(query), connection)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,nights_new,new_rooms
0,81387-35cbb86c09f24039938f6f0c1e707880,81387,81387-cbdb3b4f2d5243b8aa3a497aab66cb03,2023-03-15 21:32:00,2023-03-15 21:33:14.000000,False,False,NaN,NaN,True,...,True,2023-03-18 12:00:00,2023-03-20 12:00:00,1.0,Air Transat,45.517,-73.417,653.13,NaN,NaN
1,643469-264c65963af7459a9ed925fb969078a2,643469,None,2023-03-13 20:36:00,2023-03-13 20:37:58.000000,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
2,646259-e7dfa5f1f66d4d1aa936d3e89b0c902d,646259,None,2023-03-13 16:30:00,2023-03-13 16:30:44.000000,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
3,650079-33e0748d10194bddb981936aa487c0b4,650079,None,2023-03-13 04:08:00,2023-03-13 04:08:09.000000,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
4,655300-5ea5004b118747608b2884d81f7e5649,655300,None,2023-03-13 16:26:00,2023-03-13 16:27:28.000000,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581407,388697-4fee683582544c139d3558dea5314a43,388697,388697-5211e03f12d2441d8c33be9299962a24,2023-01-12 22:01:14,2023-01-12 22:15:40.693028,True,True,NaN,NaN,True,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,8.0,1.0
581408,36737-2ac91f883b73435ca46b468230ab8305,36737,36737-61f1698fcec346689661b7456b8307ef,2023-07-11 19:08:38,2023-07-11 21:08:38.000000,True,True,NaN,NaN,True,...,True,2023-09-14 11:00:00,2023-09-26 11:00:00,1.0,China Airlines,1.417,103.867,6185.95,NaN,NaN
581409,122419-9a79bcec299f4568a3886047bbb30142,122419,122419-ce2373299a15434488df8f0f746023c3,2023-06-30 05:22:06,2023-06-30 07:22:06.000000,True,True,NaN,NaN,True,...,True,2023-09-21 15:00:00,2023-10-04 15:00:00,1.0,Delta Air Lines,45.517,-73.417,1433.37,NaN,NaN
581410,423956-588ffa8ae2b541238ff025355157a897,423956,423956-1626c1ce3c8d4ead89cbb7cfb3f4bc01,2023-06-07 07:20:43,2023-06-07 09:20:43.000000,True,True,NaN,NaN,True,...,True,2023-06-10 15:00:00,2023-06-14 15:00:00,0.0,American Airlines,39.872,-75.241,485.33,1.0,1.0
581411,403306-dd8589d41b634828ae25a3dd6dac4356,403306,403306-438a841006e74653ad5609354f3428d2,2023-01-04 02:27:00,2023-01-04 02:28:17.000000,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,11.0,3.0

In [ ]:
# Execute query and load into a DataFrame
df = pd.read_sql(query, engine)

# Save DataFrame to CSV
df.to_csv("sessions.csv", index=False)  # `index=False` avoids extra column
print("CSV saved successfully!")

CSV saved successfully!

In [ ]:
#FINAL QUERY
QUERY="""
WITH
joined_tables AS (
  SELECT s.user_id as u_id,
    *,
    CASE
      WHEN check_out_time::date - check_in_time::date <1 THEN 1
      ELSE check_out_time::date - check_in_time::date
    END as nights_new,
  CASE when rooms=0 THEN 1 ELSE rooms END as new_rooms
  FROM sessions s
  LEFT JOIN users u
  ON s.user_id = u.user_id
  LEFT JOIN hotels h
  ON s.trip_id = h.trip_id
  LEFT JOIN flights f
  ON s.trip_id = f.trip_id
  WHERE session_start >= '2023-01-04'),

user_level AS (
  SELECT
    u_id as ul_id
  FROM joined_tables
  GROUP BY u_id
  HAVING COUNT(session_id) > 7
)
SELECT COUNT(*)
FROM joined_tables jt
JOIN user_level ul
ON jt.u_id =ul.ul_id
"""
pd.read_sql(QUERY, connection)

## Users Table

ðŸ“Œ User Demographic Information

In [ ]:
##First insights

query ="""
select
extract(year from birthdate) AS year, *
from users
where extract(year from birthdate) = '2006'
"""
pd.read_sql(query, connection)

,year,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,2006.0,18,2006-04-20,F,False,False,canada,winnipeg,YWG,49.910,-97.234,2021-04-01
1,2006.0,51,2006-06-12,M,False,True,usa,wichita,ICT,37.650,-97.433,2021-04-02
2,2006.0,68,2006-10-10,M,False,False,usa,louisville,LOU,38.228,-85.664,2021-04-04
3,2006.0,70,2006-02-09,F,False,False,usa,nashville,BNA,36.124,-86.678,2021-04-04
4,2006.0,76,2006-04-10,M,False,False,usa,dallas,DAL,32.847,-96.852,2021-04-04
...,...,...,...,...,...,...,...,...,...,...,...,...
43355,2006.0,1020084,2006-05-17,M,False,False,usa,las vegas,LAS,36.080,-115.152,2023-07-20
43356,2006.0,1020135,2006-10-03,M,False,False,usa,houston,EFD,29.607,-95.159,2023-07-20
43357,2006.0,1020166,2006-07-15,F,False,False,usa,los angeles,LAX,33.942,-118.408,2023-07-20
43358,2006.0,1020298,2006-06-24,M,False,True,usa,omaha,OMA,41.302,-95.894,2023-07-20
43359,2006.0,1020359,2006-08-26,M,False,False,usa,buffalo,BUF,42.940,-78.732,2023-07-20

In [ ]:
##Gender info

query ="""
WITH gender_count AS (
  SELECT gender, COUNT(gender) AS gender_count
  FROM users
  GROUP BY gender
),
totals AS (
  SELECT COUNT(*) AS total_count
  FROM users
)
SELECT gender,
	ROUND((gender_count::numeric/total_count),2)*100
FROM gender_count
CROSS JOIN totals;
"""
pd.read_sql(query, connection)

  gender  ?column?
0      F      44.0
1      M      55.0
2      O       1.0

In [ ]:
##Percentages of demographics
query ="""
SELECT gender, married, has_children,
ROUND(COUNT(*)::numeric/(SELECT COUNT(*) FROM users),2)*100 AS percentage
FROM users
GROUP BY gender, married, has_children
"""
pd.read_sql(query,connection)

   gender  married  has_children  percentage
0       F    False         False        20.0
1       F    False          True         7.0
2       F     True         False        11.0
3       F     True          True         7.0
4       M    False         False        25.0
5       M    False          True         9.0
6       M     True         False        13.0
7       M     True          True         8.0
8       O    False         False         0.0
9       O    False          True         0.0
10      O     True         False         0.0
11      O     True          True         0.0

In [ ]:
##Creation of Age Ranges

query="""
SELECT gender, married, has_children,
CASE WHEN
EXTRACT(year from age('2023-07-28', birthdate)) < 18 THEN 'Under 18'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 25 THEN '18-25'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 35 THEN '25-35'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 45 THEN '35-45'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 55 THEN '45-55'
WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 65 THEN '55-65'
ELSE '65+'
END AS user_age,
ROUND(COUNT(*)::numeric/(SELECT COUNT(*) FROM users),2)*100 as percent_of_total
FROM users
GROUP BY 1, 2, 3, 4
ORDER BY 5 DESC;
"""
pd.read_sql(query,connection)

   gender  married  has_children  user_age  percent_of_total
0       M    False         False     25-35               7.0
1       M    False         False     35-45               7.0
2       F    False         False     25-35               6.0
3       F    False         False     35-45               6.0
4       F     True         False     45-55               4.0
..    ...      ...           ...       ...               ...
79      F     True          True  Under 18               0.0
80      F     True          True       65+               0.0
81      O     True          True     35-45               0.0
82      M    False          True     55-65               0.0
83      M    False          True       65+               0.0

[84 rows x 5 columns]

##FINAL USER QUERY ðŸ‘«

In [ ]:
query = """

WITH
--Joined tables to have all information available together.
--Calculated correct number of nights in hotels table.
--Filtered sessions no more than 01-04 for a more accurate analysis
joined_tables AS (
  SELECT
  	u.user_id as u_id,
  	s.trip_id as trip_id_sessions,
  	f.trip_id as trip_id_flights,
  	h.trip_id as trip_id_hotel,
  	*,
    CASE
      WHEN check_out_time::date - check_in_time::date <1 THEN 1
      ELSE check_out_time::date - check_in_time::date
    END as nights_new,
  	CASE when rooms = 0 THEN 1 ELSE rooms END as new_rooms,
  	COALESCE(hotel_discount_amount, 0) AS new_hotel_discount,
  	COALESCE(flight_discount_amount,0) AS new_flight_discount
  FROM sessions s
  LEFT JOIN users u ON s.user_id = u.user_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  WHERE s.session_start >= '2023-01-04'
),
--User Level table created to have all information based ona user level granularity.
--Filtered only users with more than 7 sessions.
--Calculation of age ranges.
user_level AS (
  SELECT
  	u_id,
  	CASE WHEN
			EXTRACT(year from age('2023-07-28', birthdate)) < 18 THEN 'Under 18'
			WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 25 THEN '18-25'
			WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 35 THEN '25-35'
			WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 45 THEN '35-45'
			WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 55 THEN '45-55'
			WHEN EXTRACT(year from age('2023-07-28', birthdate)) < 65 THEN '55-65'
			ELSE '65+'
		END AS user_age
  FROM joined_tables
  GROUP BY u_id, birthdate
  HAVING COUNT(session_id) > 7
),
--Calculated average for numerous metrics, taking non cancellated flights.
trip_metrics AS (
  SELECT
  	u_id,
  	AVG(nights_new) as avg_nights,
  	AVG(checked_bags) as avg_bags,
  	AVG(seats) as avg_seats,
  	SUM(seats) as total_seats,
  	SUM(new_rooms) as count_rooms,
  	SUM((1-new_flight_discount) * base_fare_usd) AS money_spent_flight,
  	SUM(hotel_per_room_usd * new_rooms * nights_new * (1 - new_hotel_discount)) as money_spent_hotel,
  	AVG(haversine_distance(
  				home_airport_lat,
  				home_airport_lon,
  				destination_airport_lat,
  				destination_airport_lon
  			)) as avg_km_flown,
		COUNT(DISTINCT trip_id_sessions) as num_trips,
  	COUNT(CASE WHEN flight_discount_amount is not null
          OR hotel_discount_amount is not null
          THEN 1
  				END) AS trips_with_discount,
		SUM (CASE WHEN flight_booked = TRUE
         THEN 1
         END) AS num_flights_booked,
  	COUNT(distinct trip_id_flights) as num_flights
FROM joined_tables
  GROUP BY u_id
    ),
--Calculation of metrics based on sessions table.
session_metrics AS (
	SELECT
  	u_id,
		COUNT(DISTINCT session_id) as total_number_session,
		AVG(page_clicks) as avg_clicks,
  	AVG(session_end - session_start) as avg_session_duration
	FROM joined_tables
  GROUP BY u_id
)


--Selection of final table.
SELECT
	ul.u_id,
  total_number_session,
	sign_up_date,
  EXTRACT(EPOCH FROM avg_session_duration::TIME) AS seconds,
  user_age,
	gender,
  has_children,
  married,
  home_country,
  home_city,
  avg_seats,
  sum(new_rooms) as sum_of_rooms,
  sum(COALESCE(nights_new,0)) as number_of_nights,
  num_trips,
  num_flights_booked,
  num_flights,
  trips_with_discount,
  COALESCE(money_spent_flight,0) AS money_spent_flight,
  COALESCE(money_spent_hotel,0) AS money_spent_hotel,
  COALESCE(avg_km_flown,0) AS avg_km_flown,
  cancellation
FROM joined_tables jt
	JOIN user_level ul ON jt.u_id = ul.u_id
	LEFT JOIN trip_metrics tm ON tm.u_id = jt.u_id
	LEFT JOIN session_metrics sm ON sm.u_id = jt.u_id
where cancellation IS false
GROUP BY
ul.u_id,
  total_number_session,
	sign_up_date,
  avg_session_duration,
  user_age,
	gender,
  has_children,
  married,
  home_country,
  home_city,
  num_trips,
  num_flights_booked,
  num_flights,
  trips_with_discount,
  money_spent_hotel,
  money_spent_flight,
  avg_km_flown,
  cancellation,
  avg_seats

  """
pd.read_sql(sa.text(query), connection)

## Hotels Table

ðŸ“Œ Information about purchased hotel stays

In [ ]:
## Clean up of nights and rooms calculations

query="""

WITH user_level AS (
  SELECT user_id as u_id
	FROM sessions s
	GROUP BY user_id
	HAVING COUNT(session_id) > 7 )

	,filtered_by_date AS (
  SELECT *
  FROM sessions s
	JOIN user_level ul
	ON s.user_id=ul.u_id
  WHERE session_start >= '2023-01-04'
)

	SELECT *,

  CASE WHEN check_out_time::date - check_in_time::date <1
  THEN 1
  ELSE check_out_time::date - check_in_time::date END as nights_new,

  CASE when rooms=0 THEN 1 ELSE rooms END as new_rooms
	FROM filtered_by_date f
	LEFT JOIN users u
	ON f.user_id = u.user_id
	LEFT JOIN hotels h
	ON f.trip_id = h.trip_id
	LEFT JOIN flights fl
	ON f.trip_id = fl.trip_id
"""
pd.read_sql(query, connection)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,nights_new,new_rooms
0,37724-581bcf10dd7d486f9221a57c47d8cfa6,37724,37724-1078d0701cfd433fb45ec5804c5ad95a,2023-02-24 21:03:00,2023-02-24 21:04:31,False,True,NaN,0.25,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,6.0,2.0
1,603100-4c9b197791f644ddbdaea5c508eaa8b6,603100,None,2023-02-23 14:52:00,2023-02-23 14:52:38,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
2,613383-ebb383f7083440abbbf119c7d80dcd6d,613383,None,2023-02-23 20:10:00,2023-02-23 20:11:21,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
3,613874-af588b2f42074e7abd24fe0ed3af7ecc,613874,None,2023-02-23 05:52:00,2023-02-23 05:53:02,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
4,614846-add4042e6fb04514bf592d6f96e5e42b,614846,None,2023-02-23 17:16:00,2023-02-23 17:17:07,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581407,157675-eced791d08f54b21838c6161f449c0c1,157675,None,2023-02-14 19:07:00,2023-02-14 19:09:13,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
581408,160407-d1281c937cb1465c8ef2365586705dcb,160407,None,2023-02-14 18:49:00,2023-02-14 18:49:37,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
581409,160742-cfe113354f98405a8b39ff1bf84c356c,160742,None,2023-02-14 20:17:00,2023-02-14 20:17:46,False,True,NaN,0.10,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
581410,162957-3d34c9f33c02465d8081cfe313b391a2,162957,None,2023-02-14 14:06:00,2023-02-14 14:06:16,False,False,NaN,NaN,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN
581411,164996-d70764ecf6e9467085be5240c8280f39,164996,None,2023-02-14 22:42:00,2023-02-14 22:42:30,False,True,NaN,0.10,False,...,None,NaT,NaT,NaN,None,NaN,NaN,NaN,NaN,NaN

## Flights Table

ðŸ“Œ  Information about purchased flights

In [7]:
## Calculation of KM flown per user

query = """
SELECT haversine_distance(
    40.7128, -74.0060,  -- New York coordinates
    51.5074, -0.1278    -- London coordinates
) AS distance_km
;


SELECT u.user_id,
AVG(
haversine_distance(
  home_airport_lat,
  home_airport_lon,
  destination_airport_lat,
  destination_airport_lon
  )) as distance_km
 FROM sessions s
  LEFT JOIN users u
  ON s.user_id = u.user_id
  LEFT JOIN hotels h
  ON s.trip_id = h.trip_id
  LEFT JOIN flights f
  ON s.trip_id = f.trip_id
GROUP BY u.user_id
;

SELECT u.user_id,
			AVG(haversine_distance(
        u.home_airport_lat,
        u.home_airport_lon,
        f.destination_airport_lat,
        f.destination_airport_lon
    )) AS distance_km
FROM users u
JOIN sessions s
ON u.user_id=s.user_id
JOIN flights f
ON f.trip_id=s.trip_id
GROUP BY u.user_id
LIMIT 10

"""
pd.read_sql(query, connection)

   user_id   distance_km
0        0   1694.413385
1        1  12208.887772
2        2   2078.961742
3        3   2364.292586
4        4   8908.830044
5        5   2805.393720
6        6   3317.129108
7        7   5448.631659
8        8   2832.412139
9        9   1433.235624